.app-hidden {
	visibility: hidden;
}

.app-visible {
	visibility: visible;
}

/* Tables */
.tableHead th {
	font-weight: 900;
	font-size: small;
}

.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th {
    background-color: #9EBCFB;
    color: white;
}
