.taskDone {
	text-decoration: line-through;
}

.app-hidden {
	visibility: hidden;
}

/* Buttons */
.btn-medium {
	padding: 7px 14px;
	font-size: 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn-medium [class^="icon-"],.btn-medium [class*=" icon-"] {
	margin-top: 4px;
}

.tableHead {
	background-color: #99EC6F;
	color: white;
}

.tableHead th {
	font-weight: 900;
	font-size: small;
}